@model Laboratorio1AdmonTIC.Models.Compras

@{
    ViewData["Title"] = "Create";
}

<h1>Nuevo</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Compras</h4>
        <div class="row">
            <div>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ProveedorId" class="control-label"></label>
                                @* <input asp-for="ProveedorId" class="form-control" /> *@
                                <select style="height: 50px;" asp-for="ProveedorId" class="form-control" asp-items="ViewBag.Proveedores"></select>
                                <span asp-validation-for="ProveedorId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EmpleadosId" class="control-label"></label>
                                <select style="height: 50px;" asp-for="EmpleadosId" class="form-control" asp-items="ViewBag.Empleados"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="FechaCompra" class="control-label"></label>
                                <input asp-for="FechaCompra" class="form-control" />
                                <span asp-validation-for="FechaCompra" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Total" class="control-label"></label>
                                <input type="number" step="0.10" asp-for="Total" class="form-control" />
                                <span asp-validation-for="Total" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-inverse-success btn-fw me-2" />
                        <a class="btn btn-inverse-secondary btn-fw" type="button" asp-action="Index">Regresar</a>
                    </div>

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <ul>
                                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                {
                                    <li>@error.ErrorMessage</li>
                                }
                            </ul>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
