@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Olvido su Contraseña?";
    Layout = "_LoginLayout";
}







<div class="row w-100 mx-0">

    <div class="col-lg-4 mx-auto centrar-en-pantalla">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5 div-morado-sombra">
            <h1 class="card-title text-black">@ViewData["Title"]</h1>
            <p class="card-description"><h2>Ingrese su Correo Electrónico</h2></p>

            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <div class="form-group">
                        <input asp-for="Input.Email" class="test-black form-control form-control-lg" autocomplete="username" aria-required="true" placeholder="Email" />
                        
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    
                </div>
                <button type="submit" class="btn btn-primary me-2">Reiniciar Contraseña</button>
                <button type="button" class="btn btn-secondary" onclick="window.history.back()">Regresar</button>
            </form>
        </div>
    </div>

</div>





@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
