@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación Contraseña Olvidada";
    Layout = "_LoginLayout";
}



<div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto centrar-en-pantalla">
        <div class="card text-left py-5 px-4 px-sm-5 ">

            <h1 class="text-facebook">@ViewData["Title"]</h1>
            <h2 class="mt-2 text-muted card-text">Por favor verifica tu correo para restablecer tu contraseña.</h2>
            <a asp-page="/Account/Login" class="btn btn-primary me-2">Listo</a>
        </div>
        
    </div>
</div>


