@model Laboratorio1AdmonTIC.Models.Productos

@{
    ViewData["Title"] = "Edit";
}

<h1>Editando</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Productos</h4>
        <hr />
        <div class="row">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductoId" />
                
                <div class="row">
                    <div class="form-group col-md-4">
                        <label asp-for="CategoriaId" class="control-label"></label>
                        <select style="height: 50px;" asp-for="CategoriaId" class="form-control" asp-items="ViewBag.Categorias"></select>
                        <span asp-validation-for="CategoriaId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="ProveedorId" class="control-label"></label>

                        <select style="height:50px" asp-for="ProveedorId" class="form-control" asp-items="ViewBag.Proveedores"></select>
                        <span asp-validation-for="ProveedorId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="PrecioCompra" class="control-label"></label>
                        <input asp-for="PrecioCompra" class="form-control" id="precioCompra" step="0.01" min="0.01" required />
                        <span asp-validation-for="PrecioCompra" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="PrecioVenta" class="control-label"></label>
                        <input asp-for="PrecioVenta" class="form-control" id="precioVenta" step="0.01" min="0.01" required />
                        <span asp-validation-for="PrecioVenta" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label asp-for="Stock" class="control-label"></label>
                        <input asp-for="Stock" class="form-control" id="stock" min="1" required />
                        <span asp-validation-for="Stock" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="StockMinimo" class="control-label"></label>
                        <input asp-for="StockMinimo" class="form-control" id="stockMinimo" min="1" required />
                        <span asp-validation-for="StockMinimo" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="UnidadMedida" class="control-label"></label>
                        <input asp-for="UnidadMedida" class="form-control" />
                        <span asp-validation-for="UnidadMedida" class="text-danger"></span>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-inverse-success btn-fw me-2" />
                    <a class="btn btn-inverse-secondary btn-fw" asp-action="Index">Regresar</a>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        const campoPrecioCompra = document.getElementById("precioCompra");
        const campoPrecioVenta = document.getElementById("precioVenta");
        const campoStock = document.getElementById("stock");
        const campoStockMinimo = document.getElementById("stockMinimo");

        campoPrecioCompra.addEventListener("input", function () {
            const valor = parseFloat(this.value);

            if (isNaN(valor) || valor < 0.01) {
                this.value = "";
            }
        });
        campoPrecioVenta.addEventListener("input", function () {
            const valor = parseFloat(this.value);

            if (isNaN(valor) || valor < 0.01) {
                this.value = "";
            }
        });
        campoStock.addEventListener("input", function () {
            const valor = parseInt(this.value);

            if (isNaN(valor) || valor < 1) {
                this.value = "";
            }
        });
        campoStockMinimo.addEventListener("input", function () {
            const valor = parseInt(this.value);

            if (isNaN(valor) || valor < 0.01) {
                this.value = "";
            }
        });
    </script>
}
