@model Laboratorio1AdmonTIC.Models.MetodosPago

@{
    ViewData["Title"] = "Details";
}


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Metodo de Pago</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.MetodoId)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.MetodoId)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.TipoPago)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.TipoPago)
            </dd>
        </dl>
        <div>
            <a class="btn btn-inverse-info btn-fw me-2" asp-action="Edit" asp-route-id="@Model?.MetodoId">Editar</a>
            <a class="btn btn-inverse-secondary btn-fw" asp-action="Index">Regresar</a>
        </div>
    </div>
</div>
